<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width" />

	<!-- Libraries -->
	<script src="../static/assets/materialize.js"></script>
	<link rel="stylesheet" href="../static/assets/fontawesome.css">

	<link rel="stylesheet" href="../static/css/register.css" type="text/css" media="all" />
	<link rel="stylesheet" href="../static/css/404.css" type="text/css" media="all" />
	<title>اوپس، صفحه پیدا نشد!</title>
</head>
<body>
	<!-- CONTENT -->
	<div id="content">
		<div class="box">
			<img src="../static/assets/404.png" alt="404" class="pic404"><br />
			<div class="quiz">
				دنبال چیزی می‌گشتی؟؟<br />
				<a href="/">برگرد.</a> اینجا جایی نیست که دنبالشی !
			</div>
		</div>
	</div>
</body>
</html>