<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width" />

	<!-- Libraries -->
	<script src="../static/assets/materialize.js"></script>
	<link rel="stylesheet" href="../static/assets/bootstrap5.min.css">
	<link rel="stylesheet" href="../static/assets/materialize.css">

	<link rel="stylesheet" href="../static/css/register.css" type="text/css" media="all" />
	<link rel="stylesheet" href="../static/css/dashboard.css" type="text/css" media="all" />
	<link rel="stylesheet" href="../static/css/about.css" type="text/css" media="all" />

	<title>دربارهٔ من</title>
</head>
<body>
	<!-- HEADER -->
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper white">
				<a href="#" class="brand-logo"><span class="black-text">کاریاب</span></a>
				<a href="#" data-target="openMenu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			</div>
		</nav>
	</div>
	<ul id="openMenu" class="sidenav">
		<li><div class="user-view">
			<div class="background">
				<img src="../static/assets/bg.png" width="300" height="300">
			</div>
			<a href="#user"><img class="circle" src="../static/assets/profile.jpg"></a><br />
		</div>
		</li>
		<li><a href="/register" class="waves-effect"><i class="material-icons">personadd</i>signup</a></li>
		<li><a href="/register" class="waves-effect"><i class="material-icons">login</i>login</a></li>
		<li><a href="/dashboard" class="waves-effect"><i class="material-icons">dashboard</i>dashboard</a></li>
		<hr />
		<li><a href="https://t.me/karyar_robot" class="waves-effect"><i class="material-icons">telegram</i>karyar bot</a></li>
		<li><a href="/app?platform=android" class="waves-effect"><i class="material-icons">phone</i>karyar android app</a></li>
		<li><a href="/app?platform=desktop" class="waves-effect"><i class="material-icons">monitor</i>karyar desktop app</a></li>
		<hr />
		<li><a href="#" class="waves-effect"><i class="material-icons">code</i>made with ❤️ by <b>B.Ahmadi</b></a></li>
	</ul>


	<div class="form">
		<div class="all row">
			<img class="col-xs-12 col-sm-12 col-md-6 col-lg-6 image" src="../static/assets/about.jpg" alt="[logo]" />
			<div class="description col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<p class="header">
					دربارهٔ من
				</p>
				<p class="description">
					من بهمن احمدی هستم. دانش آموز پایه نهم و متولد مشهد.<br />
					بیش از 6 ماه است که به صورت حرفه‌ای برنامه‌نویسی میکنم<br />
					ولی یک و سال و نیم می‌گذرد از زمانی که با این علم آشنا شدم.<br />
					<a href="mailto:bahmanahmadi.mail@gmail.com"><i class="material-icons">email</i> پست الکترونیکی</a><br />
					<a href="https://github.com/Bahman-Ahmadi"><i class="material-icons">code</i> گیت هاب</a><br />
					<a href="https://t.me/Bprogrammer"><i class="material-icons">telegram</i> تلگرام</a><br />
				</p>
			</div>
		</div>
	</div>

	<script src="../static/js/tools.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
		makeDrawer();
	</script>
</body>
</html>